<footer class="container-fluid container-copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <span>Roy Schreuder 2018</span>
            </div>
            <div class="col-xs-6 text-right">
                {% if include.lang== "nl" %}
                <span><a href="en"><img src="/web-dist/images/en.svg" class="language-flag"></a></span>
                {% elsif include.lang== "en" %}
                <span><a href="/"><img src="/web-dist/images/nl.svg" class="language-flag"></a></span>
                {% endif %}
            </div>
        </div>
    </div>
</footer>