

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
            <a href="" id="freehand" onclick="injectImagesWithTag('freehand');return false;">Freehand work</a> -
            <a href="" id="stencil" class="disable" onclick="injectImagesWithTag('stencil');return false;">Stencil work</a>
        </div>
        <div id="flickr">

        </div>
    </div>
    <div id="image-overlay" onclick="hideImage()" class="pagination-centered">

    </div>
</section>