<section class="container container-portfolio">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
            <p class="portfolio-category">
            <a href="" id="freehand"  onclick="injectImagesWithTag('freehand');return false;">Freehand work</a> -
            <a href="" id="stencil" onclick="injectImagesWithTag('stencil');return false;">Stencil work</a> -
            <a href="" id="workshop" onclick="injectImagesWithTag('workshop');return false;">Workshops</a> -
            <a href="" id="shop" onclick="injectImagesWithTag('shop');return false;">Shop</a>
            </p>
        </div>
        <div id="flickr">

        </div>
    </div>
    <div id="image-overlay" onclick="hideImage()" class="pagination-centered">

    </div>
</section>