<section class="container container-portfolio">

    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>

            <p class="portfolio-category">
                <a href="" onclick="showImages('.freehand');return false;">Freehand</a> -
                <a href="" onclick="showImages('.stencil');return false;">Stencil</a> -
                <a href="" onclick="showImages('.workshop');return false;">Workshop</a> -
                <a href="" onclick="showImages('.shop');return false;">Shop</a>
            </p>
        </div>
        <div id="portfolio-images">

            {% for image in site.data.portfolio.images %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 cell-container {% for i in image.tags %} {{ i }} {% endfor %}"
                 align="center" style="display: none;">
                <img class="image" src="{{ image.url }}"> <a class="overlay" href=""
                                                             onclick="showImage('{{ image.url }}');return false;">
                <div class="text">
                    <p class="sub-title">{{ image.description }}</p>
                </div>
            </a>
            </div>
            {% endfor %}

        </div>
        <!--
                <div id="stencil-images" style="display: none;">

                    {% for image in site.data.stencils %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 cell-container" align="center">
                        <img class="image" src="{{ image.url }}"> <a class="overlay" href="" onclick="showImage('{{ image.url }}');return false;">
                        <div class="text">
                            <p class="title">{{ image.title }}</p>
                            <div class="divider">
                            </div>
                            <p class="sub-title">{{ image.description }}</p>
                        </div></a>
                    </div>
                    {% endfor %}

                </div>

                <div id="workshop-images" style="display: none;">

                    {% for image in site.data.workshop %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 cell-container" align="center">
                        <img class="image" src="{{ image.url }}"> <a class="overlay" href="" onclick="showImage('{{ image.url }}');return false;">
                        <div class="text">
                            <p class="title">{{ image.title }}</p>
                            <div class="divider">
                            </div>
                            <p class="sub-title">{{ image.description }}</p>
                        </div></a>
                    </div>
                    {% endfor %}

                </div>

                <div id="shop-images" style="display: none;">

                    {% for image in site.data.shop %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 cell-container" align="center">
                        <img class="image" src="{{ image.url }}"> <a class="overlay" href="" onclick="showImage('{{ image.url }}');return false;">
                        <div class="text">
                            <p class="title">{{ image.title }}</p>
                            <div class="divider">
                            </div>
                            <p class="sub-title">{{ image.description }}</p>
                        </div></a>
                    </div>
                    {% endfor %}

                </div>-->

    </div>


    <div id="image-overlay" onclick="hideImage()" class="pagination-centered">

    </div>
</section>