<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if title === 'Home' %}
    <title>Roy Schreuder</title>
    {% else %}
    <title>
        Roy Schreuder -
        {% if title[locale] %}
        {{ title[locale] }}
        {% else %}
        {{ title }}
        {% endif %}
    </title>
    {% endif %}

    <meta name="description" content="{{ description[locale] }}">
    <meta property="og:description" content="{{ description[locale] }}">
    <meta property="og:image" content="/images/roy-schreuder-intro.png">
    <meta property="og:url" content="https://royschreuder.com/">
    <meta property="og:title" content="Portfolio Roy Schreuder">

    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" >
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
