<section id="mobile-menu" class="hide-for-large">
    <div data-sticky-container>
        <div class="title-bar" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%" data-top-anchor="1">
            <!--<div class="title-bar-left"><a href="#intro" data-smooth-scroll>R</a></div>-->
            <div class="title-bar-right"><button class="menu-icon" type="button" data-toggle="menuOffCanvas"></button></div>
        </div>
    </div>
    <div class="off-canvas position-right text-right" id="menuOffCanvas" data-off-canvas>
        <a data-close style="margin:16px;">&times;</a>
        <ul class="vertical menu mobile-menu-align-bottom">
            {% include "components/menu-list.njk" %}
        </ul>
    </div>
</section>
