<!doctype html>
<html class="no-js" lang="en">
{% include "components/head.njk" %}
<body>
<header id="intro">
    <div class="grid-x margin-horizontal-1">
        <div class="cell large-3 show-for-large"></div>
        <div class="cell small-12 large-6 intro-background">
            <div class="intro-text">
                <h1 class="go-left">ROY</h1>
                <h1 class="go-right">SCH</h1>
                <h1 class="go-left">REU</h1>
                <h1 class="go-right">DER</h1>
                <h1><a href="#content">↓</a></h1>
            </div>
        </div>
        <div class="cell large-3 show-for-large"></div>
    </div>
</header>

<section id="content" class="text-center" style="height: 100vh;">
    <br>
    <br>
    <br>
    <h1>We zijn de website aan het updaten, groetjes Martijn van Pinelab.nl</h1>
    <br>
    <br>
    <br>
    Voor contact met Roy:
    <br>
    <br>
    <h1>roy@royschreuder.com</h1>
    <br>
    <h1>+31 6 40604409</h1>
</section>

{% include "components/script.njk" %}
</body>
</html>
